<ion-header [translucent]="true">
  <ion-toolbar>  
    <app-company-name [companyName]="'IvánConejeros'"></app-company-name>
    <ion-buttons slot="end"> 
        <ion-menu-button menu="mainMenu"></ion-menu-button>
   </ion-buttons>  
  </ion-toolbar> 
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding"> 
  

  <!-- Imagen de usuario y mensaje de bienvenida -->
  <div class="user-info">
    <img src="../../assets/img/ROPA/logo2.png" alt="User Avatar" class="user-avatar" />
    <h2><strong>{{ bienvenidos }}</strong><br/> {{ email }}</h2>
    <span>Tienes 0 puntos</span>
  </div>


  <div class="ofertas-info"> 
    <h2>Viste con estilo</h2>
  </div>

 <!-- Cards de Ofertas -->
 <ion-card>
  <img src="../../assets/img/ROPA/ropa1.jpg" alt="" />
  <ion-card-header>
    <ion-card-title>Elige el que más te guste</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Puedes seleccionar una chaqueta, jeans o polera de la colección
  </ion-card-content>
</ion-card>

<ion-card>
  <img src="../../assets/img/ROPA/ropa2.jpg" alt="Banana" />
  <ion-card-header>
    <ion-card-title>Polera básica color blanco</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    POlera corte clásico  </ion-card-content>
</ion-card>

<ion-card>
  <img src="../../assets/img/ROPA/ropa3.jpg" alt="Naranja" />
  <ion-card-header>
    <ion-card-title>Polera estilo marinero </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Clásica polera  </ion-card-content>
</ion-card>



</ion-content>